.category { 
  &--mobile {
    display: none;
  }

  @media (max-width: 480px) {
    display: none;
    &--mobile {
      margin-top: 32px;
      display: flex;
      select {
        font-size: 18px;
        color: var(--light-title);
        text-transform: capitalize;
        width: 70%;
        height: 40px;
        margin: 0 auto;
        display: flex;
        padding: 8px;
        -webkit-appearance: none;
        border: 2px dashed var(--primary-black);
        background-image: url('/img/down-arrow.svg');
        background-size: 12px 12px;
        background-repeat: no-repeat;
        background-position: 96%;
      }
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: var(--spacer) calc(var(--spacer)*2);
    border: 2px dashed var(--primary-black);
    box-shadow: var(--toy-shadow);
  }
  &__list {
    text-align: right;
    width: 100%;
  }
  &__link {
    color: var(--light-title);
    font-size: var(--fsize);
    display: inline-block;
    padding: 8px 0;
    text-transform: capitalize;  
    position: relative;
    &:hover::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: var(--violet-color);
      opacity: 0.3;
    }
    &.is-active::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: var(--violet-color);
    }  
  }
}