.posts {
  display: grid;
  grid-template-columns: 1fr;
  
  grid-gap: 32px;
  @media (max-width: 480px) {
    margin-top: var(--spacer);
    grid-template-columns: 100%;
  }
  &__title {
    font-size: 22px;
    margin: 8px 0; 
  }
}

.posts-wrapper {  
  margin: 16px 0;
  display: grid;
  grid-gap: 32px;
  grid-auto-rows: min-content;
  grid-template-columns: 3fr 1fr;
  @media (max-width: 480px) {
    grid-template-columns: 100%;
  }
}

@import './post';
@import './code';
@import './_category';


