.post {
  padding: 32px;
  display: flex;
  flex-direction: column;
  border: 2px dashed var(--violet-color); 
  transition: box-shadow 400ms;
  box-shadow: var(--toy-shadow);
  &:hover {
    box-shadow: var(--toy-shadow-hover);
    transition: box-shadow 400ms;
  }
  &__body {
    max-height: 400px;
    overflow: hidden;
    & .cr-post__code {
      background-color: var(--primary-black);
    } 
  }
  @media (max-width: 480px) {
    padding: calc(var(--spacer)*2) var(--spacer);
    border: 0;
    border-bottom: 2px dashed var(--violet-color);
    border-top: 2px dashed var(--violet-color);    
    box-shadow: var(--toy-shadow);
  }
}