@keyframes fadeIn {
  from {
    opacity: 0;
    display: none;
  }
  to {
    display: block;
    opacity: 1;
  }
}

.profile {
  margin-top: var(--spacer);
  &__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: var(--spacer) 0;
    padding: calc(var(--spacer)*2);
    @media (max-width: 480px) {
      padding: var(--spacer);
    }
  }
  &__avatar {
    display: inline-block;
    justify-content: center;
    align-items: center;
  }
  &__name {
    display: block;
    width: 100%;
    text-align: center;
    color: var(--light-title);
    font-weight: bold;
    margin: 8px 0;
  }
  &__edit {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 740px;
    margin: var(--spacer) auto;
  }
  @import './_tabs';
}

.tab-content {
  margin-top: var(--spacer);
  display: none;
  &.is-show {
    display: block;
    animation-name: fadeIn;
    animation-duration: 400ms;
    animation-timing-function: linear;
  }
}

@import './_macro-post';