.macro-post {
  display: flex;
  @media (max-width: 480px) {
    padding: 8px;
    border: 2px dashed var(--primary-black);
    margin-bottom: 8px;
  }
  &__title {
    display: flex;
    padding: var(--spacer);
    margin-right: var(--spacer);
    color: var(--primary-dark);
    padding-left: 0;
    @media (max-width: 480px) {
      margin-right: 0;
      padding: var(--spacer);
      line-height: 1.4;
    }
    &:hover {
      color: var(--violet-color);
    }
  }
}