&__tabs {
  width: 100%;
  margin-top: var(--spacer);
}
&__tabs-list {
  display: flex;
  border-top: 1px solid var(--title-color);
  border-bottom: 1px solid var(--title-color);
}
&__tabs-item {
  display: inline-block;
  @media (max-width: 480px) {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
&__tabs-link {
  display: inline-block;
  color: var(--light-title);
  padding: var(--spacer);
  font-size: calc(var(--fsize) * 0.875);
  font-weight: bold;
  border-bottom: 2px solid transparent;
  border-top: 0;
  @media (max-width: 480px) {
    width: 100%;
    text-align: center;
  }
  &:hover {
    color: var(--violet-color);
  }
  &.is-active {
    border-bottom: 2px solid var(--light-title);
  }
}

