.publish {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 32px;
  transform: translate(-50%, -50%);
  background: var(--primary-white);
  //box-shadow: var(--toy-shadow);
  border: 2px solid var(--violet-color);
  &__title {
    display: flex;
  }
  & h2 {
    margin-bottom: 0;
  }
  &__kite {
    display: flex;
    justify-content: center;  
    margin-right: calc(var(--spacer)*2);
  }
  
}
