<main class="profile">
  <div class="container">
    <div class="form-wrapper">
      <form action="/profile/edit/{{id}}" method="post">

        <h1>Редактирование профиля</h1>

        <div class="form-field">
          <label>
            <span>Имя:</span>
            <input type="text" value="{{user.firstName}}" placeholder="Имя или ник">
          </label>
        </div>
        <div class="form-field">
          <label>
            <span>Фамилия:</span>
            <input type="text" value="{{user.lastName}}" placeholder="Необязательно">
          </label>
        </div>
        <div class="form-field">
          <label>
            <span>Специализация:</span>
            <input type="text" value="{{user.bio.spec}}" placeholder="Пример: Javascript-Developer">
          </label>
        </div>
        <div class="form-field">
          <label>
            <span>О себе:</span>
            <textarea value="{{user.bio.about}}" placeholder="Любая публичная информация"></textarea>
          </label>
        </div>
        <p>
          <button class="button button-publish button--large">Применить</button>
        </p>
      </form>
    </div>

  </div>
</main>