<main class="profile">
  <div class="container">
    {{#if findUser}}
    <div class="profile__item">
      <a href="/" class="profile__avatar">
        <img src="/img/user.svg" width="60" height="60" alt="Аватар">
      </a>
      <span class="profile__name">{{findUser.firstName}} {{findUser.lastName}}</span>
      <span class="profile__email">{{findUser.email}}</span>
      <div class="profile__tabs">
        <ul class="profile__tabs-list list-unstyled">
          <li class="profile__tabs-item">
            <a data-tab-href="info" href="/" class="profile__tabs-link is-active">Информация</a>
          </li>
          <li class="profile__tabs-item">
            <a data-tab-href="posts" href="/" class="profile__tabs-link">Посты</a>
          </li>
        </ul>
        <div class="profile__tabs-inner tab-content" data-tab="info">
          <h4>Инфо</h4>
        </div>
        <div class="profile__tabs-inner tab-content" data-tab="posts">
          {{#if posts}} {{#each posts}}
          <div class="profile__macro-post macro-post">
            <a class="macro-post__title" target="_blank" href="/posts/show/{{id}}">{{title}}</a>
            </header>
          </div>
          {{/each}} {{else}}
          <p>Этот пользователь ничего не писал...</p>
          {{/if}}
        </div>
      </div>
    </div>
    {{else}}
    <h5>Данного юзера не существует...</h5>
    {{/if}}
  </div>
</main>