<div class="chat">
  <div class="chat__inner">
    <ul class="list-unstyled chat__output">

    </ul>

    <form class="chat-form" autocomplete="off">
      <div class="form-field d-flex">
        <input class="chat-form__input" type="text" placeholder="Сообщение...">
        <div class="chat-form__buttons">
          <button class="button button-primary js-close-chat" type="button">
            Закрыть чат
          </button>
          <button type="submit" class="button button-publish ml-3">Отправить</button>

        </div>
      </div>
    </form>
    <div class="chat__mobile-closer">

    </div>
  </div>
</div>