<div class="modal js-modal-search" data-modal="search">
  <div class="modal-overlay">
    <div class="modal__inner">
      <button class="button button-search-close button-primary js-search-close">
        Закрыть
      </button>
      <form action="/posts/find" method="post">
        <div class="form-field form-field--search">
          <input type="search" placeholder="Поиск..." class="search-input" name="title">
          <button type="submit" class="button button-publish ml-3">Поиск</button>
        </div>
      </form>
    </div>
  </div>
</div>
