<nav class="nav primary-black b-shadow">
  <div class="container">
    <a href="/" class="logotype centered">
      <button class="button button-mobile-menu js-show-mobile-menu">
        Меню
      </button>
      <img class="logotype__img" src="/img/logo.svg" width="40" height="40" alt="Логотип">     
    </a>
    <ul class="menu-mobile list-unstyled">
      <button class="button button-mobile-menu button-mobile-menu--hide js-hide-mobile-menu">
        Закрыть
      </button>
      <li class="menu-mobile__item">
        <a href="/posts" class="menu-mobile__link">Посты</a>
      </li>
      {{!-- <li class="menu-mobile__item">
        <a href="/tasks" class="menu-mobile__link">Задачи</a>
      </li> --}}
      {{#if user}}
      <li class="menu-mobile__item">
        <a href="/profile/{{user.id}}" class="menu-mobile__link">Профиль</a>
      </li>
      <li class="menu-mobile__item">
        <a href="/users/logout" class="menu-mobile__link">Выйти</a>
      </li>
      {{else}}
      <li class="menu-mobile__item">
        <a href="/users/login" class="menu-mobile__link">Войти</a>
      </li>
      <li class="menu-mobile__item">
        <a href="/users/register" class="menu-mobile__link">Регистрация</a>
      </li>
      {{/if}}
    </ul>
    <ul class="nav-menu list-unstyled">
      <li class="nav-menu__item">
        <a class="nav-menu__link" href="/posts" data-target="/posts">Посты
          <span class="nav-menu__indicator"></span>
        </a>
      </li>
      {{!-- <li class="nav-menu__item">
        <a class="nav-menu__link" href="/tasks" data-target="/tasks">Задачи
          <span class="nav-menu__indicator"></span>
        </a>
      </li> --}}
      {{#if user}}
      <li class="nav-menu__item avatar d-flex">
        <a class="nav-menu__link avatar__link" href="/profile/{{user.id}}" data-target="/posts">
          {{#if user.avatar}}
          <img class="avatar__img" src={{user.avatar}} alt="Аватар"> {{else}}
          <img class="avatar__img" src='/img/user.svg' width="40" height="40" alt="Аватар"> {{/if}}
        </a>
      </li>
      <li class="nav-menu__item">
        <a class="nav-menu__link" href="/users/logout">Выйти
        </a>
      </li>
      {{else}}
      <li class="nav-menu__item">
        <a class="nav-menu__link" href="/users/login" data-target="/users/login">Войти
          <span class="nav-menu__indicator"></span>
        </a>
      </li>
      <li class="nav-menu__item">
        <a class="nav-menu__link" href="/users/register" data-target="/users/register">Регистрация
          <span class="nav-menu__indicator"></span>
        </a>
      </li>
      {{/if}}
    </ul>
  </div>
</nav>

<nav class="go-back">
    <button class="button button-go-back js-go-back">
      Назад
    </button>
</nav>