.mt-0 {
  margin-top: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mt-3 {
  margin-top: var(--spacer) !important;
}

.mt-2x {
  margin-top: calc(var(--spacer)*2) !important;
}

.ml-3 {
  margin-left: var(--spacer) !important;
}

.d-flex {
  display: flex;
}

.b-shadow {
  box-shadow: var(--primary-shadow);
}

.centered {
  height: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.primary-black {
  background-color: var(--primary-black);
}

.align-right {
  text-align: right;
}

.list-unstyled {
  list-style-type: none;
  padding: 0;
  margin: 0;
}