:root {
  --primary-black: #202124;
  --primary-white: #fff;
  --card-color: #242424;
  --violet-color: #767eef;
  --light-title: #4f6173;
  --error-color: #b00020;
  --title-color: #e6e6e6;
  --text-color: #c7c7c7;
  --primary-shadow: 2px 2px 4px #eee;
  --toy-shadow: 7px 12px 2px #efefef;
  --toy-shadow-hover: 2px 4px 2px #efefef;
  --spacer: 16px;
  --fsize: 16px;
  --base-font: 'Fira Sans', sans-serif;
  --radius: 4px;
}

*:focus {
  outline: 2px dashed var(--violet-color);
}

body {
  font-family: var(--base-font);
  overflow-x: hidden;
}