h1, h2, h3, h4, h5, h6 {
  color: var(--title-color);
  margin-top: 0;
  font-family: var(--base-font);
  color: var(--light-title);
  font-weight: bold; 
}

h1 {
  font-size: calc(2 * var(--fsize));
  
  @media (max-width: 480px) {
    font-size: calc(1.5 * var(--fsize));
    font-weight: 600;
  }
}

h2 {
  font-size: calc(2.125 * var(--fsize));
  font-weight: 400;
}

h3 {
  font-size: calc(1.625 * var(--fsize));
  position: relative;
  @media (max-width: 480px) {
    font-size: calc(1.25 * var(--fsize));
  }
}

h3::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 32px;
  height: 2px;
  background-color: var(--violet-color);
}

p {
  font-size: var(--fsize);
}

pre {
  white-space: pre-line;
}

span, p {
  color: var(--text-color);
}