
.buttons-options {
  position: fixed;
  right: calc(var(--spacer) + 2vw);
  bottom: calc(var(--spacer) + 2vw);
  & button {
    margin-top: calc(var(--spacer)/2);
    box-shadow: var(--primary-shadow);
    background-color: var(--primary-white);
    border: 1px solid var(--primary-black);
  }
  & img {
    width: 32px;
    height: 32px;
  }
  &__list.is-open {
    .buttons-options__item {
      transform: scale(1);
    }
  }
  &__item {
    transform: scale(0);
    transition: 400ms;
  }
  @media (max-width: 480px) {
    right: var(--spacer);
    bottom: var(--spacer);
  }
}
