<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700&amp;subset=cyrillic" rel="prefetch">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&amp;subset=cyrillic" rel="prefetch">
  <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
  <link rel="stylesheet" href="/css/bundle.css">
  <title>Блог</title>
  <script>
    let loc = window.location.pathname;
    if(window.innerWidth < 1024 && loc === '/') {
      window.location.href = '/posts'
    }
  </script>
</head>
<body> 
  {{> _navbar}}
  {{{body}}}  

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>
  
<script defer src="/lib/hljs.js"></script>
<script defer src="/js/client.js"></script>
</body>
</html>