@keyframes message {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0);
  }
}

.chat {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: scale(0) translate(-150%, -50%);
  width: 600px;
  height: 400px;
  background-color: var(--primary-white);
  box-shadow: var(--toy-shadow);
  border: 2px solid var(--light-title);
  z-index: 10000;
  transition: 400ms ease-in-out;
  &.is-open {
    transform: scale(1) translate(-50%, -50%);
    @media (max-width: 480px) {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }
  &__inner {
    padding: var(--spacer);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  &__output {
    border: 2px solid var(--primary-black);
    min-height: 120px;
    width: 100%;
    height: 100%;
    background-color: var(--light-title);
    padding: 12px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  &__noname {
    padding: 8px;
    background-color: var(--primary-white);
  }
  &__register {
    display: inline-block;
    padding: 8px;
    text-decoration: underline;
    color: navajowhite;
    &:hover {
      text-decoration: none;
    }
  }
  &__message {
    color: var(--primary-white);
    line-height: 1.5;
    padding: calc(var(--spacer)/2);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 4px;
    &--new {
      animation-name: message;
      animation-duration: 200ms;
      animation-timing-function: ease;
    }
  }
}

.chat-form {
  @media (max-width: 480px) {
    & .form-field {
      flex-wrap: wrap;
    }
  }
  @media (max-width: 480px) {
    &__buttons {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: var(--spacer);
      & button {
        margin: 0 !important;
      }
    }
    &__input {
      @media (max-width: 480px) {
        width: 100%;
        display: block;
      }
    }
  }
}

.js-close-chat {
  display: none;
  @media (max-width: 480px) {
    display: inline-block;
  }
}