<div class="container">
  {{#if error_msg}}
    <div class="centered">
      <span class="error-field ml-0">{{error_msg}}</span>
    </div>
  {{/if}}
  <div class="form-wrapper">
    <h1>Авторизация</h1>
    <form action="/users/login/{{id}}" method="post">
      <div class="form-field">     
          <input type="email" placeholder="Email" name="email" autofocus>            
      </div>
      <div class="form-field">
        <input type="password" placeholder="Пароль" name="password">   
      </div>
      <p class="mt-2x">
        <button type="submit" class="button button-publish button--large ml-0">Отправить</button>
      </p>
    </form>
  </div>
</div>