<div class="container">
  <div class="form-wrapper">
    <h1>Регистрация</h1>
    <form action="/users/register" method="post">
      <div class="form-field">
        <input type="text" placeholder="Имя" name="firstName" autofocus> 
        {{#if firstName}}
          <span class="ml-0 error-field">{{firstName}}</span>
        {{/if}}
      </div>
      <div class="form-field">
        <input type="text" placeholder="Фамилия" name="lastName">
      </div>
      <div class="form-field">
        <input type="email" placeholder="Email" name="email"> {{#if email}}
        <span class="ml-0 error-field">{{email}}</span>
        {{/if}}
      </div>
      <div class="form-field">
        <input type="password" placeholder="Пароль" name="password"> {{#if password}}
        <span class="ml-0 error-field">{{password}}</span>
        {{/if}}
      </div>
      <p class="mt-2x">
        <button type="submit" class="button button-publish button--large ml-0">Отправить</button>
      </p>
    </form>
  </div>
</div>