.popup--scale {
  max-width: 300px;
  background-color: var(--primary-white);
  position: fixed;
  right: 2vw;
  bottom: 2vh;
  z-index: 100000;
  box-shadow: var(--primary-shadow);
  &.is-hidden {
    display: none;
  }
  @media (max-width: 480px) {
    display: none;   
  }
  & .--inner {
    padding: var(--spacer);
    border: 2px dashed var(--primary-black);
  }
  & p {
    color: var(--light-title);
  }
}