.single-post h1,
.single-post h2,
.single-post h3,
.post-preview h1,
.post-preview h2,
.post-preview h3
{
  margin-top: var(--spacer);
}

.single-post__author {
  max-width: 820px;
  margin: var(--spacer) auto; 
  @media (max-width: 480px) {
    margin-left: 12px;
    margin-top: 24px;
  } 
}

.single-post__profile {
  color: var(--light-title);
  position: relative;
  font-weight: bold;
  padding: 2px;
  background: #f0f0f0;
  &::after {    
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--light-title);
    opacity: 0.5;
  }
  &:hover::after {
    opacity: 1;
  }
}

.single-post__inner {
  max-width: 820px;
  opacity: 0;
  padding: 8px 32px;
  margin: 16px auto;
  border: 2px dashed var(--violet-color);
  box-shadow: var(--toy-shadow);
  @media (max-width: 480px) {
    padding: 8px 12px;
    margin: 0;
    border: none;
    box-shadow: none;
  }
}