.button-add-field {
  position: relative;
  margin-top: var(--spacer);
}

.button-contract {
  transform: scale(0);
  &.--is-active {
    transform: scale(1);
  }
}

.buttons-type {
  position: relative;
  &__list {
    display: none;
    @media (max-width: 480px) {
      flex-wrap: wrap;
      & .button {
        margin-left: 0;
        margin-bottom: var(--spacer);
      }
    }
  }
}

.button-type {
  margin-right: var(--spacer);
}

.js-more-types {
  .buttons-type__list {
    display: flex;
  }
  .js-add-field {
    display: none;
  }
}

.button-delete-field {
  position: absolute;
  z-index: 10000;
  right: calc(var(--spacer)/2);
  top: calc(var(--spacer)/2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacer);
  border: 2px solid var(--primary-white);
  &:hover {
    border: 2px solid var(--violet-color);
  }
  & img {
    width: 20px;
    height: 20px;
    position: absolute;
  }
}
