.post-creater {
  position: relative;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__publish {
    display: none;
    &--active {
      display: flex;
    }
  }
  &__field {
    position: relative;
    min-height: 40px;
  } 
  @media (max-width: 480px) {
    padding: calc(var(--spacer)/2);
  }
}

.post-preview {
  margin-bottom: 64px;
  @media (max-width: 480px) {
    padding: calc(var(--spacer)/2);
  }
}

.pre-publish {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;    
  &__buttons {
    display: flex;
    flex-direction: column;
  }
}
.cr-post {
  &__title {
    margin-top: 0;
  }
  &__paragraph {
    font-size: var(--fsize);
    letter-spacing: 0.2px;
    line-height: 1.375;
    color: var(--light-title);   
  }
  &__header {
    margin-top: calc(var(--spacer) * 2) !important;
  }
  &__lang {
    display: inline-block;
    padding: calc(var(--spacer)/2);
    border-radius: var(--radius);
    color: var(--violet-color);
    border: 1px solid var(--violet-color);      
    background-color: var(--primary-white);
  }  
  &__code {
    display: block;
    background-color: var(--primary-white);
    padding: 32px;
    margin: 16px 0 24px 0;
    font-family: monospace;
    line-height: 1.5;
    color: var(--primary-black);
    box-shadow: var(--toy-shadow);
    font-size: calc(var(--fsize) * 0.875);
    letter-spacing: 1px;
    @media (max-width: 480px) {
      overflow-x: scroll;
      white-space: pre;
      padding: 16px 8px;
    }
  }
  &__image-wrapper {
    transform: translateZ(0);
    margin: var(--spacer) 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 0;
    transition: 200ms linear;     
    &:active {
      transform: scale(1.4);
    }
  }
  &__image {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
  &__js-names {
    color: lightcoral;
  }
}


@import './buttons.scss';

