.form-field--search {
  display: flex;
}

.search-input {
  border-bottom: 2px solid var(--light-title);
}

.button-search-close {
  position: absolute;
  right: var(--spacer);
  top: var(--spacer);
}