<div class="container">
  <form class="col s12" method="post" action="/tasks/create">
    <div class="input-field col">
      <input placeholder="Название" name="title" id="first_name" type="text" class="validate">
    </div>
    <div class="input-field col">
      <input placeholder="Краткое описание" name="shortView" id="first_name" type="text" class="validate">
    </div>
    <div class="input-field col">
      <input placeholder="Уровень" name="level" id="first_name" type="text" class="validate">
    </div>
    <div class="input-field">
        <textarea id="textarea" name="body" placeholder="Здесь текст"></textarea>
    </div>
    <p>
      <input type="submit" class="btn primary-black">
    </p>
  </form>
</div>