<div class="container">
  <div class="posts tasks">
    {{#each tasks}}
    <div class="post">
      <header>
        <span class="post-type js">Уровень-{{level}}</span>
        <h2>{{title}}</h2>
      </header>
      <div class="once-content post-content">
        {{body}}
      </div>
      <a href="/tasks/show/{{id}}" class="button button-primary">Читать далее</a>
    </div>
    {{/each}}
  </div>
</div>