{{#if task }}
<main class="page-full-post">
  <div class="container">
    <h1>{{task.title}}</h1>
    <p>{{task.shortView}}</p>
    <div class="once-content">
      {{task.body}}
    </div>
  </div>
</main>
{{else}}
<p>Нет такого...</p>
{{/if}}