.button {
  display: inline-block;
  cursor: pointer;
  background-color: none;
  border: 0;
  padding: calc(var(--spacer) * 0.75);
  margin: 0;
  color: var(--primary-white);
  letter-spacing: 1px;
  border-radius: var(--radius);
  transition: border 200ms ease;
  font-size: var(--fsize);
  &-primary {
    background-color: var(--primary-white);
    border: 2px dashed var(--primary-black);
    color: var(--primary-black);
    &:hover {
      border: 2px solid var(--violet-color);
    }
  }
  &--large {
    width: 100%;
  }
}


.button-publish {
  background-color: var(--violet-color);
  box-shadow: var(--primary-shadow);
  border: 2px solid var(--violet-color);
  &:hover {
    border: 2px solid #fff;
  }
  @media (max-width: 480px) {
    margin-left: calc(var(--spacer)/2);
  }
}


