.error-field {
  margin-left: var(--spacer);
  position: relative;
  margin-top: var(--spacer);
  display: inline-block;
  border: 2px solid var(--error-color);
  padding: calc(var(--spacer) * 0.75);
  color: var(--primary-black);
  background-color: rgba(255, 0, 0, 0.1); 
}