form {
  width: 100%;
  margin-top: var(--spacer);
}

input, textarea {
  width: 100%;
  padding: calc(var(--spacer)*0.875) var(--spacer);
  padding-left: 0;
  background-color: transparent;
  border: 0;
  border-bottom: 2px dashed var(--primary-black);
  color: var(--primary-black);
  opacity: 0.7;
  &:focus {
    transition: border 400ms;
    outline: none;
    opacity: 1;
    border-bottom: 2px dashed var(--violet-color);    
  }
}

textarea {
  margin-top: var(--spacer);
  min-height: 70px;
  resize: none;
  overflow: hidden;
}

.form-field:not(:last-child) {
  margin-bottom: var(--spacer);
}