a {
  text-decoration: none;
  color: var(--primary-white);
}

.link-to {
  position: relative;
  color: #EF5F87;  
}

.link-to:hover {
  color: #fff;
}

.link-to::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10%;
  width: 100%;
  background-image: linear-gradient(90deg, #767EEF, #EF5F87);
  z-index: -1;
}

.link-to:hover:after {
  height: 100%;;
  transition: height 80ms ease-in-out;
}

.avatar-link {
  display: flex;
  align-items: center;
  justify-content: center;
}