.modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 10000;
  overflow: hidden;
  transform: scale(0) translateY(-300px);
  transition: 400ms ease-in-out;
  &.is-open {
    transform: scale(1) translateY(0);
  }
  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-white);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  &__inner {    
    max-width: 800px;
    min-width: 600px;
    margin: 26vh var(--spacer);
    @media (max-width: 480px) {
      min-width: 0;
      
    }
  }
}

