@keyframes navFall {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
};

.nav {
  position: relative;
  background-color: var(--primary-white);
  &.is-transparent {
    background-color: transparent !important;
    box-shadow: none !important;
    position: absolute;
    width: 100%;
    & .nav-menu__link {
      color: var(--violet-color);
      opacity: 1;
      &::after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: transparent;
        position: absolute;
        left: 0;
        bottom: 0;
      }
      &:hover:after {
        background-color: var(--violet-color);
      }
    }
  }
}

.nav.is-sticky {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10000;
  animation-name: navFall;
  animation-duration: 400ms;
  animation-timing-function: linear;
}

@import './logotype';
@import './nav-menu';
@import './mobile';

