.menu-mobile {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--primary-white);
  z-index: 1000;
  transform: translateX(-100%);
  transition: 400ms ease;
  &.is-open {
    transform: translateX(0%);
  }
  &__item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__link {
    display: block;
    color: var(--primary-black);
    font-size: calc(var(--fsize)*1.25);
    padding: var(--spacer);
    font-family: serif;
    width: 100%;
    text-align: left;
    margin: 2px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.button.button-mobile-menu {
  display: none;
  @media (max-width: 480px) {
    background: transparent;
    border: 1px solid #000;
    color: #000;
    font-weight: bold;
    display: inline-block;
    &--hide {
      position: absolute;
      right: calc(var(--spacer)/2);
      top: calc(var(--spacer)/2);
    }
  }  
}
