.nav-menu {
  display: flex;
  justify-content: flex-end;
  @media (max-width: 480px) {
    display: none;
  }
}

.nav-menu__link {
  position: relative;
  opacity: 0.6;
  color: var(--light-title);
  padding: calc(var(--spacer)*1.375) var(--spacer);
  display: flex;
  height: 100%;
  align-items: center;
  font-size: var(--fsize);
}

.nav-menu__link:hover {
  opacity: 1;
}

.nav-menu__indicator {
  background: var(--light-title); 
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 235ms cubic-bezier(.4, 0, .2, 1);
}

.nav-menu__item {
  display: flex;
  align-items: center;
}

.nav-menu__link {
  &.--is-active {
    opacity: 1;
    .nav-menu__indicator {
      transform: scaleY(1);
    }
  }
}

.avatar {
  &__img {
    width: 20px;
    height: 20px;
    transform: scale(2);
  }
}