<div class="container">
  <div class="post-creater">
    <header class="post-creater__header">
      <h1> Публикация новости</h1>
      <button class="button button-publish js-publish-that">Опубликовать</button>
    </header>
    <form method="post" action="/posts/create" class="mt-3 post-creater__form" onSubmit="return false">
 
      <div class="form-inner">
      </div>
      <p>
        <input hidden type="submit" class="js-create-post-submit">
      </p>
    </form>

    <div class="pre-publish">
      <div class="pre-publish__buttons">
        <div class="buttons-type">
          <button class="button button-publish button-add-field js-add-field">
            <img src="/img/add.svg" width="20" height="20" alt="Добавить">
          </button>
          <ul class="buttons-type__list js-types-list">
            <button class="button button-publish button-type" data-node="preview">Показать превью</button>
            <button class="button button-primary button-type" data-node="p">Добавить параграф</button>
            
            <label class="button button-primary button-type js-image-upload" data-node="img">
              Добавить изображение
              <input type="file" hidden>
            </label>
            <button class="button button-primary button-type" data-node="code">Добавить код</button>
            <button class="button button-primary button-type" data-node="h">Добавить заголовок</button>
          </ul>
        </div>
        <button class="button button-primary button-contract js-contract mt-3" disabled>
          <img src="/img/contract.svg" width="24" height="24" alt="Публикация">
        </button>
      </div>
    </div>
  </div>
  <div class="post-preview">
    <header>

    </header>
    <main>

    </main>
  </div>
</div>