<div class="container">
  <form class="col s12" method="post" action="/posts/{{post.id}}?_method=PUT">
  <input type="hidden" name="_method" value="PUT">
    <div class="input-field col">
      <input placeholder="Название" name="title" type="text" class="validate" value={{post.title}}>
    </div>
    <div class="input-field col">
      <input placeholder="Превью" name="preview" type="text" class="validate" value={{post.preview}}>
    </div>
    <div class="input-field col">
      <input placeholder="Уровень" name="level" type="text" class="validate" value={{post.level}}>
    </div>
    <div class="input-field col">
      <input placeholder="Язык" name="lang" type="text" class="validate" value={{post.lang}}>
    </div>
    <div class="input-field col">
      <input placeholder="Краткое описание" name="shortView" id="last_name" type="text" class="validate" value={{post.shortView}}>
    </div>
    <div class="input-field">
      <textarea id="textarea" name="description" placeholder="Здесь текст">{{post.description}}</textarea>
    </div>
    <p>
      <input type="submit" class="btn primary-black">
    </p>
  </form>
</div>