{{>_finder}} {{>_chat}}
<div class="container">
  <p class="mt-3">
    <a href="/posts/create" class="button button-publish">Опубликовать</a>
  </p>

  <div class="category--mobile">
    <select name="category" class="category-select">
      <option value="/posts">все</option>
      {{#each langs}}
        <option value="/posts/{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </div>

  <section class="posts-wrapper">
    <div class="posts">
      {{#each content}}
      <div class="post">
        <div class="post__body">
          <h4 class="posts__title">{{title}}</h4>
          <p>
            <time>Опубликовано: {{formatDate date}}</time>
          </p>
        </div>
        <div>
          <a href="/posts/show/{{id}}" class="button button-primary">
            Читать далее
          </a>
        </div>
      </div>
      {{/each}}
    </div>
    <div class="category">
      <div class="category__inner">
        <header>
          <h4>
            <b>Категории</b>
          </h4>
        </header>
        <ul class="category__list list-unstyled">
          <li class="category__item">
            <a class="category__link" href="/posts" data-href="/posts">Все</a>
          </li>
          {{#each langs}}
          <li class="category__item">
            <a class="category__link" href="/posts/{{this}}" data-href="/posts/{{this}}">{{this}}</a>
          </li>
          {{/each}}
        </ul>
      </div>

    </div>
  </section>

  <div class="buttons-options">
    <ul class="buttons-options__list list-unstyled">
      <li class="buttons-options__item">
        <button class="button button-options js-chat">
          <img src="/img/chat.svg" width="40" height="40" alt="Чат">
        </button>
      </li>
      <li class="buttons-options__item">
        <button class="button button-options js-finder">
          <img src="/img/find.svg" width="40" height="40" alt="Фильтр">
        </button>
      </li>
    </ul>
    <button class="button button-options js-options">
      <img src="/img/menu.svg" width="40" height="40" alt="Меню">
    </button>
  </div>
</div>