<div class="popup popup--scale">
  <div class="--inner">   
    <p class="popup__text">
      Если изображение слишком маленькое, кликните по нему и удерживайте мышь.
    </p>
    <p>
      <button class="button button-primary js-close-popup">Понятно</button>
    </p>
  </div>
</div>

{{#if post }}
<section class="single-post white-section">
  <div class="container">
    <div class="single-post__author">
        Автор: <a class="single-post__profile" href="/profile/{{userID}}">{{fullName}}</a>
    </div>
    <span class="loader">Загрузка...</span>
    <div class="post-content single-post__inner">    
      {{ parseBodyPost post.body }}      
    </div>
    
  </div>
</section>
{{else}}
<p>Нет такого...</p>
{{/if}}