.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 64px auto;
  padding: calc(var(--spacer)*2);
  @media (max-width: 480px) {
    margin: 0;
    box-shadow: none;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 76%;
  }
}

.go-back {
  display: none;
  &.is-show {
    display: inline-block;
    margin: 8px;
  }
}

.button.button-go-back {
  background-color: transparent; 
  border: 2px solid var(--violet-color);
  color: var(--primary-black); 
}